.paginationWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 40px 20px;
  @media (max-width: 630px) {
    flex-direction: column;
    margin: 0px;
  }
}
.pagination {
  display: flex;
  justify-content: center;
  margin-right: 20px;
  @media (max-width: 630px) {
    margin-right: 5px;
  }
}
.page {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  font-size: 14px;
  margin-left: 5px;
  color: white;
  cursor: pointer;
  @media (max-width: 630px) {
    width: 20px;
    height: 20px;
    font-size: 12px;
  }
  &:hover {
    background-color: gray !important;
  }
}

.navigate {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  font-size: 20px;
  margin-left: 5px;
  color: darkcyan;
  background-color: rgb(187, 160, 147);
  cursor: pointer;
  @media (max-width: 630px) {
    width: 20px;
    height: 20px;
    font-size: 15px;
  }
  &:hover {
    background-color: lemonchiffon;
  }
  &:disabled {
    background-color: gray;
  }
}

.select {
  @media (max-width: 630px) {
    margin: 10px 0;
  }
}
