.wrapper {
  margin: 5px;
  padding: 10px;
  display: flex;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  border-radius: 10px;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  cursor: pointer;
  width: 300px;
  &:hover {
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
      rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  }
  &_checked {
    width: 100%;
    margin: 0;
  }
}

.about {
  .name {
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  .tagline {
    color: cadetblue;
    margin-bottom: 5px;
  }
  .description {
    font-size: 14px;
    color: grey;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .abv {
    color: blue;
    margin-bottom: 5px;
  }
  .pairing {
    color: grey;
    margin-bottom: 5px;
  }
}

.rowName {
  color: chocolate;
}

.backButton {
  border: none;
  background-color: inherit;
  color: blue;
  cursor: pointer;
  margin: 20px;
}

.checkedBeerWrapper {
  height: 100vh;
}
